@font-face {
  font-family: "Lucida Handwriting Italic";
  src: url(./Lucida-Handwriting/Lucida-Handwriting-Italic.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./Montserrat/Montserrat-Regular.ttf);
}